* {
    padding: 0px;
    margin: 0px;
    background-color: #1c39c7;
}

h1 {
    color: #24FFF2;
    text-align: center;
    font-family: "Goblin One";
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    margin-bottom: 30px;
    font-size: 100px;
    color: #FFF;
    text-align: center;
}
  

h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 25px;
    color: #FFF;
}
.logo {
    width: 390px;
    height: 385px;
    flex-shrink: 0;
    border-radius: 2000px;
    background: url("logo1.png"), lightgray 50% / cover no-repeat; 
}


button {
    background-color: #25CCC2;
    color: #FFF;
    border-radius: 30px;
    font-family: Gorditas;
    font-size: 25px;
    margin: 20px;
    right: 66px;
    text-align: center;
    padding: 20px;
}


.textoJuego {
    color: #FFF;
    text-align: center;
    font-family: "GFS Neohellenic";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cartonBingo {
    display: flex;
    flex-direction: column;
    background: #4D1CC7;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.filaBingo {
    display: flex;
} 

.numeroBingo {
    width: 100px;
    height: 100px;
    padding: 12px;
    align-items: center;
    border-radius: 2px;
    background: #C5EEFF;
    margin: 5px;
}

.columnaBingo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}


.numeroBingo.marcado {
    background-color: red; /* Cambiar el color de fondo */
    color: white; /* Cambiar el color del texto */
    /* Agregar otros estilos según sea necesario */
}


#section1 {
    background-color: #3B2CE7;
    color: #000;
    margin: 50px;
    padding: 30px;
    align-items: center;
}

#section2 {
    background-color: #24FFF2;
    color: #000;
    margin: 50px;
    padding: 30px;
    align-items: center;
}

#section3 {
    background-color: #a2cc25;
    color: #000;
    margin: 50px;
    padding: 30px;
    align-items: center;
}

#section4 {
    background-color: #FF5733;
    color: #000;
    margin: 50px;
    padding: 30px;
    align-items: center;
}

.arrow {
    top: 50%;
    transform: translateY(-50%);
    font-size: 100px;
    border: none;
    background: transparent;
    color: #FFF;
    cursor: pointer;
}

#leftArrow {
    left: 50px;
}

#rightArrow {
    right: 50px;
}
