* {
    padding: 0px;
    margin: 0px;
    background-color: #1c39c7;
}

h1 {color: #24FFF2;

    text-align: center;
    font-family: "Goblin One";
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    width: 390px;
    height: 385px;
    flex-shrink: 0;
    border-radius: 2000px;
    background: url("logo1.png"), lightgray 50% / cover no-repeat; 
}


.buttonInicio {
    color: #FFF;
    text-align: center;
    font-family: Gorditas;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #25CCC2;
    position: absolute;
    right: 66px;
    top: 261px;
}

.textMenu {
    color: #FFF;
    text-align: center;
    font-family: "GFS Neohellenic";
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    right: 89px;
    top: 142px;
}

.cartonBingo {
    display: flex;
    flex-direction: column;
    background: #4D1CC7;
    align-items: center;
    padding: 20px;
}

.filaBingo {
    display: flex;
} 

.numeroBingo {
    display: flex;
    width: 115px;
    height: 115px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background: #C5EEFF;
}

.columnaBingo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}


.marcado {
    background-color: red;
}